<% content_for :mainpage do %>

 
<h2>Welcome to HelloDr</h2>
 <hr>
<h4> Book Appointment in no time with doctor of your choice!!!</h4>


      
    <%end%>

<!--<%= link_to 'Home', root_path %>
<%= link_to 'Contact', pages_contact_path %>
<%= link_to 'Make New Appointment', new_appointment_path %> -->

